* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space", sans-serif;
}

.main-container {
    width: 100%;
    height: 100%;
}

.input-container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50px;
    left: 50px;
    padding: 10px;
    gap: 20px;
    width: 15%;
    height: 40%;
    background-color: red;
    border-radius: 20px;
    flex-direction: column;
    z-index: 1000;
}

.input-container h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    color: aliceblue;
    font-weight: 700;
    font-variant: small-caps;
    margin-bottom: 10px;
}

.input-container input {
    border-radius: 10px;
    font-size: 1rem;
    padding: 5px;
    outline: none;
    border: none;
    transition: .5s;
}

.input-container input:hover {
    box-shadow: 0px 0px 10px 10px rgba(140,15,20,1);
}

#CreateBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 80px;
    border-radius: 10px;
    border: none;
    font-size: 1.1rem;
    font-variant: small-caps;
    color: #fff;
    transition: .5s;
    background-color: transparent;
}

#CreateBtn:hover {
    background-color: #fff;
    color: red;
    box-shadow: 0px 10px 30px 10px rgba(0,0,0,0.85);
}

.container-products {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: purple;
}

.container-announcement {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin: 70px;
    width: 60%;
    height: 40%;
    background-color: blue;
}